# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints

# Environments
env/

# Mac OS
.DS_Store

# figures
*.png
*.svg
!pipeline.svg

# result outputs
figures
results

# font files
*.ttf

# slurm output files
*.out
*.err

pyscript.m